html, body {
    margin: 0;
}

header, section, footer {
    text-align: center;
}

section.agenda {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

table {
    margin-top: 20px;
}

footer {
    margin-top: auto;
}